<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>vueApp</title>

</head>

<body>
    <script type="module">
        import ChildComp from './ChildComp.js'
        import FallbackContent from './FallbackContent.js'

        let id = 0

        Vue.createApp({
            data() {
                return {
                    titleClass: 'title',
                    count: 0,
                    text: "",
                    awesome: true,
                    newTodo: '',
                    hideCompleted: false,
                    todos: [
                        { id: id++, text: 'Learn HTML', done: true },
                        { id: id++, text: 'Learn JavaScript', done: true },
                        { id: id++, text: 'Learn Vue', done: false }
                    ],
                    todoId: 1,
                    todoData: null,
                    greeting: "hi nkoguchi!"
                }
            },
            methods: {
                increment() {
                    this.count++
                },
                toggle() {
                    this.awesome = !this.awesome
                },
                addTodo() {
                    this.todos.push({ id: id++, text: this.newTodo })
                    this.newTodo = ''
                },
                removeTodo(todo) {
                    this.todos = this.todos.filter((t) => t !== todo)
                },
                async fetchData() {
                    this.todoData = null
                    const res = await fetch(
                        `https://jsonplaceholder.typicode.com/todos/${this.todoId}`
                    )
                    this.todoData = await res.json()
                }
            },
            components: {
                ChildComp,
                FallbackContent
            },
            computed: {
                filteredTodos() {
                    return this.hideCompleted
                        ? this.todos.filter((t) => !t.done)
                        : this.todos
                }
            },
            mounted() {
                this.$refs.p.textContent = 'mounted!'
                this.fetchData()
            },
            watch: {
                todoId() {
                    this.fetchData()
                }
            }
        }).mount('#app')
    </script>

    <div id="app">
        <h1 :class="titleClass">Make me red</h1>
        <button @click="increment">count is: {{ count }}</button>
        <input v-model="text">
        <p>{{ text }}</p>
        <button @click="toggle">toggle</button>
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>
        <form @submit.prevent="addTodo">
            <input v-model="newTodo">
            <button>Add Todo</button>
        </form>
        <ul>
            <li v-for="todo in filteredTodos" :key="todo.id">
                <input type="checkbox" v-model="todo.done">
                <span :class="{ done: todo.done }">{{ todo.text }}</span>
                <button @click="removeTodo(todo)">X</button>
            </li>
        </ul>
        <button @click="hideCompleted = !hideCompleted">
            {{ hideCompleted ? 'Show all' : 'Hide completed' }}
        </button>
        <p ref="p">hello</p>
        <p>Todo id: {{ todoId }}</p>
        <button @click="todoId++">Fetch next todo</button>
        <p v-if="!todoData">Loading...</p>
        <pre v-else>{{ todoData }}</pre>
        <!-- <child-comp :msg="greeting" @response="(msg) => childMsg = msg" />
        <p>{{ childMsg }}</p> -->
        <fallback-content></fallback-content>
    </div>
</body>

</html>