* {
    margin:0; padding:0;
  }
  .header {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
  }
  .header-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }